/* 
* Читать трижды перед сном вместо Ave Maria
✅  При box-sizing: content-box внутренние отступы и бордеры суммируются с размерами элемента, внутреннее пространство элемента при этом не меняется.
✅  При box-sizing: border-box внутренние отступы и бордеры отнимаются от пространства внутри элемента, размеры самого элемента при этом не меняются.
‼️  Блочные элементы
занимают всё доступное пространство
высоту принимают по содержимому
принимают параметры width и height
можно задавать margin и padding
выравниваются по центру через свойство margin: auto;
‼️  Строчные элементы
принимают ширину и высоту по содержимому
не принимают параметры width и height
не работают вертикальные margin
имеют скрытые отступы
выравниваются через свойство text-align: center (задается родительскому элементу)
‼️  Строчно-блочные
принимают ширину и высоту по содержимому
высоту принимают по содержимому
принимают параметры width и height
можно задавать margin и padding
имеют скрытые отступы
выравниваются через свойство text-align: center (задается родительскому элементу)
✅   Между соседними элементами (находятся на одном уровне вложенности) ставится - margin (внешний отступ)
✅   Если нужно отодвинуть контент (детей) от границы родителя - ставится padding  (внутренний отступ) родителю
✅   псевдокласс :nth-child - пересчитывает всех детей родителя, но свойство применяет только тем, у которых селектор соответствует правилу.

*/
