.logo {
  color: #000;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1738;
  & > span {
    color: var(--accent-color);
  }
}

.header {
  border-bottom: var(--header-border);
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    padding-top: 24px;
    padding-bottom: 25px;
    display: inline-block;
    margin-right: 94px;
  }
  .contact-list__link {
    padding-top: 32px;
    padding-bottom: 32px;
    display: inline-block;
  }
  .contact-list {
    margin: 0;
    display: flex;
  }
  .contact-list__item {
    display: inline-block;
    margin-left: 50px;
  }
  .contact-list__link {
    display: flex;
    align-items: center;
  }
}

.navigation {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.172;
  letter-spacing: 0.02em;
  display: flex;
}

.navigation-list {
  margin: 0;
  display: flex;
  &__items {
    margin-right: 50px;
  }
  &__link {
    padding-top: 32px;
    padding-bottom: 32px;
    display: inline-block;
    position: relative;
    color: #000;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    text-decoration: none;
  }
}

.navigation-list__link {
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 0;
    background-color: var(--accent-color);
    transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.contact-list {
  &__link {
    color: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    text-decoration: none;
  }
  &__svg-mail,
  &__svg-phone {
    display: inline-block;
    fill: currentColor;
    margin-right: 10px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__svg-mail {
    width: 16px;
    height: 12px;
  }
  &__svg-phone {
    width: 10px;
    height: 16px;
  }
}

.navigation-list__link {
  &:focus::after,
  &:hover::after {
    width: 100%;
  }
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.contact-list__link {
  &:focus,
  &:hover {
    color: var(--accent-color);
  }
}

.current {
  color: var(--accent-color);
  text-decoration: inherit;
  &::after {
    width: 100%;
  }
}
