.s1-hero {
    max-width: 1600px;
    padding-top: 118px;
    padding-bottom: 118px;
    background: {
        size: cover;
        repeat: no-repeat;
        position: center;
    }
    background: linear-gradient(45deg, rgba(116, 117, 122, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/h-back.jpg);

    @media screen and (min-width: 768px) {
        // width: 768px;
    }

    @media screen and (min-width: 1200px) {
        padding-top: 200px;
        padding-bottom: 200px;
    }

    &__heading {
        color: var(--white);
        font-weight: 900;
        font-size: 44px;
        line-height: 1.363;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        text-align: center;
        width: 694px;
        margin: 0 auto 30px;
    }
    &__button {
        border: none;
        width: 200px;
        height: 50px;
        border-radius: 4px;
        background-color: var(--accent-color);
        color: var(--white);
        font-weight: 700;
        font-size: 16px;
        line-height: 1.875;
        letter-spacing: 0.06em;
        display: block;
        margin: 0 auto;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.s1-hero__button {
    &:focus,
    &:hover {
        background-color: #188ce8;
    }
}
