.portfolio-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-left: -30px;
  margin-top: -30px;
  padding: 0;
  flex-basis: auto;
  &__link {
    text-decoration: inherit;
  }
  &__img {
    max-width: 100%;
  }
  &__item {
    width: 370px;
    padding: 0;
    border: var(--portf-tile-border);
    margin-left: 30px;
    margin-top: 30px;
  }
  &__item-textarea {
    padding: 20px 24px;
  }
  &__project-name {
    color: var(--black);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin: 0;
    margin-bottom: 4px;
  }
  &__project-type {
    font-size: 16px;
    line-height: 1.875;
    margin: 0;
    color: var(--main-font-color);
  }
  &__item-container {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__img-wrapper-positioner {
    position: relative;
    overflow: hidden;
  }
  &__hover-wrapper {
    display: flex;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #2196f3e6;
    color: var(--white);
    font-size: 18px;
    line-height: 1.555;
    top: 0;
    transform: translateY(200%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__item-description {
    margin: 0;
  }
}

.portfolio-list__item-container {
  &:focus,
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    .portfolio-list__hover-wrapper {
      transform: translateY(0);
    }
  }
}
