.body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  color: var(--main-font-color);
  letter-spacing: 0.03em;
  margin: 0 auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list {
  list-style: none;
  padding-left: 0;
}
