@mixin centeredFlex($type: flex) {
    display: $type;
    justify-content: center;
    align-items: center;
}

@mixin grid-parent() {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
    // margin: -15px;
}

@mixin grid-child-tab() {
    flex-basis: calc((100% - 2 * 30px) / 2);
    margin-top: 30px;
    margin-left: 30px;
    // margin: 15px;

    outline: 2px solid tomato;
}

@mixin grid-child-pc() {
    flex-basis: calc((100% - 4 * 30px) / 4);
}

@mixin font-source-sans($size: false, $colour: false, $weight: false, $lh: false, $ls: false) {
    @if $size {
        font-size: $size;
    }

    @if $colour {
        color: $colour;
    }

    @if $weight {
        font-weight: $weight;
    }

    @if $lh {
        line-height: $lh;
    }

    @if $ls {
        letter-spacing: $ls;
    }
}

@mixin font-source($style: false, $colour: false, $ls: false) {
    @if $style {
        font-style: $style;
    }

    @if $colour {
        color: $colour;
    }

    @if $ls {
        letter-spacing: $ls;
    }
}
