@mixin font-source-sans($size: false, $colour: false, $weight: false, $lh: false, $ls: false) {
    @if $size {
        font-size: $size;
    }

    @if $colour {
        color: $colour;
    }

    @if $weight {
        font-weight: $weight;
    }

    @if $lh {
        line-height: $lh;
    }

    @if $ls {
        line-height: $ls;
    }
}

@mixin font-source($style: false, $colour: false, $ls: false) {
    @if $style {
        font-style: $style;
    }

    @if $colour {
        color: $colour;
    }

    @if $ls {
        letter-spacing: $ls;
    }
}

@media screen and (min-width: 480px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1200px) {
}
