:root {
  --main-font-color: #757575;
  --white: #fff;
  --accent-color: #2196f3;
  --black: #212121;
  --hero-background: #2f303a;
  --header-border: #ececec solid 1px;
  --portf-tile-border: #eee solid 1px;
  --footer-contacts: #ffffff99;
  --tm-social-clients: #afb1b8;
}
